<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name=".App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidStartupOptimizationDemo"
        tools:replace="android:dataExtractionRules,android:fullBackupContent">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.AndroidStartupOptimizationDemo">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false">
            <!-- AppsFlyer 初始化，无依赖 -->
            <meta-data
                android:name="com.studyh2g.androidstartupoptimizationdemo.initializer.AppsFlyerInitializer"
                android:value="androidx.startup" />
            <!-- Firebase 初始化，无依赖 -->
            <meta-data
                android:name="com.studyh2g.androidstartupoptimizationdemo.initializer.FirebaseCombinedInitializer"
                android:value="androidx.startup" />
            <!-- Facebook 初始化，无依赖 -->
            <meta-data
                android:name="com.studyh2g.androidstartupoptimizationdemo.initializer.FacebookManualInitializer"
                android:value="androidx.startup" />
            <!-- MLKit 初始化，无依赖 -->
            <meta-data
                android:name="com.studyh2g.androidstartupoptimizationdemo.initializer.MlKitInitializer"
                android:value="androidx.startup" />
        </provider>
        <provider
            android:name="com.google.firebase.provider.FirebaseInitProvider"
            android:authorities="${applicationId}.firebaseinitprovider"
            tools:node="remove" />
        <provider
            android:name="com.facebook.internal.FacebookInitProvider"
            android:authorities="${applicationId}.FacebookInitProvider"
            tools:node="remove" />
        <provider
            android:name="com.google.mlkit.common.internal.MlKitInitProvider"
            android:authorities="${applicationId}.mlkitinitprovider"
            tools:node="remove" />
        <!--facebook-->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.facebook.sdk.ClientToken"
            android:value="@string/facebook_client_token" />
    </application>

</manifest>